body {
    background-color: cyan;
    margin: 0;
}

#backgroundImage{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 270px;
}

#btn-install{
    z-index: 2;
    font-size: large;
    position: relative;
    top: 185px;

    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

#pathSelector{
    z-index: 2;
    font-size: large;
    position: relative;
    top: 100px;
    text-align: center;
}

#pathSelector input{
    z-index: 2;
    width: 50%;
}

#twitchLink{
    z-index: 2;
    font-size: large;
    position: fixed;
    bottom: 0;

    display: block;
    margin-right: auto;
    margin-left: auto;

    background-color: rgba(0, 255, 255, 0);
    height: 32px;
    width: 220px;
}

#twitchLink:hover{
    cursor: pointer;
}

.antiSelector {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}